= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text1
    = f.text_area :text1
  .field
    = f.label :text2
    = f.text_area :text2
  .field
    = f.label :text3
    = f.text_area :text3
  .field
    = f.label :text4
    = f.text_area :text4
  .field
    = f.label :embed1
    = f.text_area :embed1
  .field
    = f.label :embed2
    = f.text_area :embed2
  .field
    = f.label :embed3
    = f.text_area :embed3
  .field
    = f.label :embed4
    = f.text_area :embed4
  .field
    = f.label :p1desescription
    = f.text_field :p1desescription
  .field
    = f.label :p2description
    = f.text_field :p2description
  .field
    = f.label :p3description
    = f.text_field :p3description
  .field
    = f.label :p4description
    = f.text_field :p4description
  .actions
    = f.submit 'Save'
