.row
  .col-lg-1
  .col-lg-10
    .linetext
      %h1='OUR STORIES'
    .row
    -idx = 0
    -articles.each do |article|
      -idx = idx + 1
      -if(idx % 6 == 0) 
        -idx = 1  
      -if(idx % 5 == 0)
        .col-lg-4
          = link_to article_path(article) do
            .panel.panel-primary     
              .panel-heading 
                %h3.panel-title.no-underline      
                  =article.title
              .panel-body.trPic
                = image_tag article.photo1(:medium), :class => 'img-responsive'
                .redO
                  %center=article.description                           
      -if(idx % 4 == 0)
        .col-lg-4
          = link_to article_path(article) do
            .panel.panel-warning      
              .panel-heading 
                %h3.panel-title.no-underline      
                  =article.title
              .panel-body.trPic
                = image_tag article.photo1(:medium), :class => 'img-responsive'
                .redO
                  %center=article.description                        
      -elsif(idx % 3 == 0)
        .col-lg-4
          = link_to article_path(article) do
            .panel.panel-danger      
              .panel-heading 
                %h3.panel-title.no-underline      
                  =article.title
              .panel-body.trPic
                = image_tag article.photo1(:medium), :class => 'img-responsive'
                .redO
                  %center=article.description                         
      -elsif(idx % 2 == 0)
        .col-lg-4
          = link_to article_path(article) do
            .panel.panel-success      
              .panel-heading 
                %h3.panel-title.no-underline      
                  =article.title
              .panel-body.trPic
                = image_tag article.photo1(:medium), :class => 'img-responsive'
                .redO
                  %center=article.description       
      -elsif (idx % 1 == 0) 
        .col-lg-4
          = link_to article_path(article) do
            .panel.panel-info      
              .panel-heading 
                %h3.panel-title.no-underline      
                  =article.title
              .panel-body.trPic
                = image_tag article.photo1(:medium), :class => 'img-responsive'
                .redO
                  %center=article.description 
    .row
    = link_to 'New Article', new_article_path, :class => 'btn btn-primary'
  .col-lg-1
