%h1 Listing articles

%table
  %thead
    %tr
      %th Title
      %th Text1
      %th Text2
      %th Text3
      %th Text4
      %th Embed1
      %th Embed2
      %th Embed3
      %th Embed4
      %th P1desescription
      %th P2description
      %th P3description
      %th P4description
      %th
      %th
      %th
      
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.text1
        %td= article.text2
        %td= article.text3
        %td= article.text4
        %td= article.embed1
        %td= article.embed2
        %td= article.embed3
        %td= article.embed4
        %td= article.p1desescription
        %td= article.p2description
        %td= article.p3description
        %td= article.p4description
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Article', new_article_path
