-provide(:title, 'outstanding understanding')
-content_for :description do
  = description('The Cultural Spotter is an online magazine that aims to show how colorful the world is by describing different lifestyles, culinary and cultural traditions and different points of view through a wide range of articles.')
.row.home-pd
  .col-lg-12.add-google
    = render 'googleadd_index_top'
  .col-lg-9.col-md-9
    = image_tag "ex.png",:width => "100%", :class => 'img-responsive'
    %h2=@note
    -idx = 0
    -@articles.each_slice(6) do |articles_by6|
      .row    
        -articles_by6.each_slice(2) do |articles_by2|  
          .col-md-4.col-xs-12
            -articles_by2.each do |article|
              -idx = idx + 1
              -if(idx % 6 == 0) 
                -idx = 1 
              -if(idx % 5 == 0)
                -pnl = 'panel-primary'                           
              -elsif(idx % 4 == 0)
                -pnl = 'panel-info'                              
              -elsif(idx % 3 == 0)
                -pnl = 'panel-success'                                 
              -elsif(idx % 2 == 0)
                -pnl = 'panel-warning'              
              -elsif (idx % 1 == 0)
                -pnl = 'panel-danger'            
              .tar          
                = link_to "articles/#{article.url}" do
                  .panel{:class => pnl}     
                    .panel-heading 
                      %h3.panel-title.no-underline      
                        =article.title
                    .panel-body.trPic
                      = image_tag article.photo1(:medium),:width => "100%", :class => 'img-responsive'
                      .redO
                        %center=article.description
                .row
                  .col-md-4.col-xs-4
                    =article.created_at.to_date.to_s(:medium)
                  .col-md-4.col-xs-4
                    %p.text-danger=article.country.name             
                  .col-md-4.col-xs-4
                    .rgh
                      =article.category.name 
    .row
      .col-lg-12
        %center= will_paginate @articles                                     
  .col-lg-3.col-md-3
    .search-holder
      = form_tag search_country_path, :multipart => true, method: :post, :html => { :class => 'form-horizontal' } do
        .col-lg-12
          %b
            %h5.text-danger= 'COUNTRIES'
        .form-group
          .col-lg-12
            = select_tag :country_id,  options_for_select(Country.all.map{|u| [ u.name, u.id ] }), prompt: "Select a Country", :class => 'form-control'
        .form-group
          .col-lg-12
            = submit_tag "SEARCH", :class => 'btn btn-sm btn-primary'
    .fb-page{:data => {:href=>"https://www.facebook.com/theculturalspotter", "hide-cover"=>"false", "show-facepile"=>"true", "show-posts"=>"false"}}   
    .row
      .col-lg-12.index-rgh
        = render 'googleadd_index_right'