-provide(:title, @article.title)
-content_for :description do
  = description(@article.description)
.row
  .col-lg-12
    = image_tag "ex.png",:width => "100%", :class => 'img-responsive'  
.row
  .col-lg-1.col-md-1
  .col-lg-7.col-md-7
    %h2.text-danger=@article.title
    %span=@article.created_at.to_date.to_s(:long)
    .jus
      %strong.blc=simple_format(@article.text1)
    -unless @article.photo1.blank?
      .imageHolder
        = image_tag @article.photo1(:medium),:width => "100%", :class => 'img-responsive'
          -unless @article.p1desescription.blank?
          .imageHolder.caption
            %white=@article.p1desescription
      .line-br            
    -unless @article.embed1.blank?        
      .embed-responsive.embed-responsive-16by9
        =@article.embed1.html_safe   
    .jus
      %strong.blc=simple_format(@article.text2)
    -unless @article.photo2.blank?
      .imageHolder
        = image_tag @article.photo2(:medium),:width => "100%", :class => 'img-responsive'
          -unless @article.p2description.blank?
          .imageHolder.caption
            %white=@article.p2description
      .line-br
    -unless @article.embed2.blank?        
      .embed-responsive.embed-responsive-16by9
        =@article.embed2.html_safe   
    .jus
      %strong.blc=simple_format(@article.text3)
    -unless @article.photo3.blank?
      .imageHolder
        = image_tag @article.photo3(:medium),:width => "100%", :class => 'img-responsive'
          -unless @article.p3description.blank?
          .imageHolder.caption
            %white=@article.p3description
      .line-br            
    -unless @article.embed3.blank?        
      .embed-responsive.embed-responsive-16by9
        =@article.embed3.html_safe  
    .jus
      %strong.blc=simple_format(@article.text4)
    -unless @article.photo4.blank?
      .imageHolder
        = image_tag @article.photo4(:medium),:width => "100%", :class => 'img-responsive'
          -unless @article.p4description.blank?
          .imageHolder.caption
            %white=@article.p4description
      .line-br            
    -unless @article.embed4.blank?        
      .embed-responsive.embed-responsive-16by9
        =@article.embed4.html_safe
    %br    
      =render_shareable :buttons=> [ 'facebook','twitter', 'google_plus']
    -if current_user.try(:admin?)
      .alert
        =link_to 'Edit Article', edit_article_path(@article), :class => 'btn btn-primary'
        =link_to 'Back to Articles', articles_path, :class => 'btn btn-danger'
        =link_to t('.destroy', :default => t("helpers.links.destroy")),
                article_path(@article),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger'
    .fb-comments{:data => {:href=>"https://www.theculturalspotter.eu/articles/#{@article.id}", :numposts=>"5", :colorscheme=>"light"}}        
  .col-lg-4.col-md-4
    .jumbotron.jumb
      .row
        .col-md-3.col-xs-3
        .col-md-9.col-xs-9
          %p.text-danger='About the Author'
      .row
        .col-lg-12
        .col-lg-12
          = image_tag @article.author.photo(:thumb), size: "150x150", :class => 'img-circle'
        .col-lg-12
        -if @article.author.link_profile.blank?
          %h4=@article.author.fullname
          .jus
            %strong=@article.author.about          
        -else
          %h4
            =link_to @article.author.fullname , @article.author.link_profile, :target => "_blank" 
          .jus
            %strong=@article.author.about
    .fb-like-box{:data => {:href=>"https://www.facebook.com/theculturalspotter", :colorscheme=>"light", "show-faces"=>"true", :header=>"true", "show-border"=>"true"}}     
    -unless  @authors_articles.count == 1
      .list-group
        .list-group-item.lgi-heding
          %b='ARTICLES BY THE SAME AUTHOR'
        -@authors_articles.each do |authors_article|
          -unless authors_article.id == @article.id
            =link_to authors_article.title , article_path(authors_article), :class => "list-group-item" 