-provide(:title, article.title)
-content_for :description do
  = description(article.description)
.row
  .col-lg-1.col-md-1
  .col-lg-7.col-md-7
    %h2=article.title
    %span=article.created_at.to_date.to_s(:long)
    .jus
      %strong=article.text1
    -unless article.photo1.blank?
      .imageHolder
        = image_tag article.photo1(:medium),:width => "100%", :class => 'img-responsive'
          -unless article.p1desescription.blank?
          .imageHolder.caption
            %white=article.p1desescription
    -unless article.embed1.blank?        
      .embed-responsive.embed-responsive-16by9
        =article.embed1.html_safe   
    .jus
      %strong=article.text2
    -unless article.photo2.blank?
      .imageHolder
        = image_tag article.photo2(:medium), :class => 'img-responsive'
          -unless article.p2desescription.blank?
          .imageHolder.caption
            %white=article.p2desescription
    -unless article.embed2.blank?        
      .embed-responsive.embed-responsive-16by9
        =article.embed2.html_safe   
    .jus
      %strong=article.text3
    -unless article.photo3.blank?
      .imageHolder
        = image_tag article.photo3(:medium), :class => 'img-responsive'
          -unless article.p3desescription.blank?
          .imageHolder.caption
            %white=article.p3desescription
    -unless article.embed3.blank?        
      .embed-responsive.embed-responsive-16by9
        =article.embed3.html_safe  
    .jus
      %strong=article.text4
    -unless article.photo4.blank?
      .imageHolder
        = image_tag article.photo4(:medium), :class => 'img-responsive'
          -unless article.p4desescription.blank?
          .imageHolder.caption
            %white=article.p4desescription
    -unless article.embed4.blank?        
      .embed-responsive.embed-responsive-16by9
        =article.embed4.html_safe
    %br    
      =render_shareable :buttons=> [ 'facebook','twitter', 'google_plus']
    -if current_user.try(:admin?)
      .alert
        =link_to 'Edit Article', edit_article_path(article), :class => 'btn btn-primary'
        =link_to 'Back to Articles', articles_path, :class => 'btn btn-danger'
        =link_to t('.destroy', :default => t("helpers.links.destroy")),
                article_path(article),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger'
    .fb-comments{:data => {:href=>"http://developers.facebook.com/docs/plugins/comments/", :numposts=>"5", :colorscheme=>"light"}}        
  .col-lg-4.col-md-4
    .jumbotron
      .row
        .col-md-3.col-xs-3
        .col-md-9.col-xs-9
          %p.text-danger='About Author'
      .row
        .col-lg-1.col-md-12.col-xs-12
        .col-lg-2.col-md-12.col-xs-12
          = image_tag article.author.photo(:thumb), size: "150x150", :class => 'img-circle'
        .col-lg-9.col-md-12.col-xs-12
        -if article.author.link_profile.blank?
          %h4=article.author.fullname
          .jus
            %strong=article.author.about          
        -else
          %h4
            =link_to article.author.fullname , article.author.link_profile, :target => "_blank" 

